certifi==2022.12.7
chardet==3.0.4
entrypoints==0.3
flake8==3.7.9
idna==2.8
mccabe==0.6.1
praw==6.4.0
prawcore==1.0.1
pycodestyle==2.5.0
pyflakes==2.1.1
pypiwin32==223
pywin32==227
requests==2.22.0
six==1.13.0
update-checker==0.16
urllib3==1.25.7
websocket-client==0.56.0
win10toast==0.9
